<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <!-- Logo/Nombre de la web con color especial -->
    <a class="navbar-brand fw-bold site-title" routerLink="/">Películas TMDB</a>

    <!-- Botón de menú para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buscar/">Buscar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link special-contact" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
