<div class="container mt-5">
    <h2 class="text-center mb-4">Formulario de Contacto</h2>
  
  
    <form [formGroup]="contactoForm" (ngSubmit)="enviarMensaje()">
      <!-- Nombre -->
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Tu nombre">
        @if (contactoForm.get('nombre')?.invalid && contactoForm.get('nombre')?.touched) {
          <div class="text-danger">El nombre debe tener al menos 3 caracteres.</div>
        }
      </div>
  
      <!-- Apellido -->
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Tu apellido">
        @if (contactoForm.get('apellido')?.invalid && contactoForm.get('apellido')?.touched) {
          <div class="text-danger">El apellido debe tener al menos 3 caracteres.</div>
        }
      </div>
  
      <!-- Correo Electrónico -->
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="tuemail@example.com">
        @if (contactoForm.get('email')?.invalid && contactoForm.get('email')?.touched) {
          <div class="text-danger">Ingresa un correo válido.</div>
        }
      </div>
  
      <!-- Número de Teléfono -->
      <div class="mb-3">
        <label for="telefono" class="form-label">Número de Teléfono</label>
        <input type="text" id="telefono" class="form-control" formControlName="telefono" placeholder="Tu tlfn. de contacto">
        @if (contactoForm.get('telefono')?.invalid && contactoForm.get('telefono')?.touched) {
          <div class="text-danger">El número de teléfono debe tener exactamente 9 dígitos.</div>
        }
      </div>
  
      <!-- Mensaje -->
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea id="mensaje" class="form-control" rows="5" formControlName="mensaje" placeholder="Escribe tu mensaje"></textarea>
        @if (contactoForm.get('mensaje')?.invalid && contactoForm.get('mensaje')?.touched) {
          <div class="text-danger">El mensaje debe tener al menos 20 caracteres.</div>
        }
      </div>
  
      <!-- Botón Enviar -->
      <button type="submit" class="btn btn-primary" [disabled]="contactoForm.invalid">Enviar</button>

        <!-- Mensaje de éxito/error -->
        @if (mensajeEnviado) {
            <div class="alert alert-success mt-3">¡Mensaje enviado con éxito!</div>
        }
        @if (errorEnvio) {
            <div class="alert alert-danger mt-3">Hubo un error al enviar el mensaje.</div>
        }
    </form>
  </div>  